.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: var(--gradient-navbar);
}

.navbar-start_logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}

.navbar-start_logo img{
    margin: 0px 10px;
    height: 80px;
}

.navbar-end_logo {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar-end_logo img{
    width: 150px;
    margin: 10px;
}

.navbar-text{
    text-align: center;
    font-family: var(--font-family);
    font-size: 1.5rem;
}